In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

path = '/content/drive/MyDrive/lotte/'

customers = pd.read_csv(path + 'LPOINT_BIG_COMP_01_DEMO.csv')
record = pd.read_csv(path + 'LPOINT_BIG_COMP_02_PDDE.csv')
recordP = pd.read_csv(path + 'LPOINT_BIG_COMP_03_COP_U.csv')
products = pd.read_csv(path + 'LPOINT_BIG_COMP_04_PD_CLAC.csv')
stores = pd.read_csv(path + 'LPOINT_BIG_COMP_05_BR.csv')
recordL = pd.read_csv(path + 'LPOINT_BIG_COMP_06_LPAY.csv')
customers.head()

         cust ma_fem_dv ages zon_hlv
0  M000034966        여성  40대     Z07
1  M000059535        여성  30대     Z12
2  M000136117        여성  30대     Z11
3  M000201112        여성  50대     Z17
4  M000225114        여성  40대     Z17

In [3]:
tem = pd.pivot_table(record, index = 'cust', columns = 'pd_c', values = 'buy_ct', aggfunc = 'sum')

In [4]:
tem.fillna(0, inplace = True)
tem.head()

pd_c,PD0001,PD0002,PD0003,PD0004,PD0005,PD0006,PD0007,PD0008,PD0009,PD0010,...,PD1924,PD1925,PD1926,PD1927,PD1928,PD1929,PD1930,PD1931,PD1932,PD1933
cust,,,,,,,,,,,,,,,,,,,,,
M000034966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
M000136117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
M000201112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
M000225114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
M000261625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,2.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0

In [6]:
sum(record['cust'].value_counts() == 1)

1033